body{
    margin: 0;
    padding: 0;
}
.container {
    background-image: url("../assets/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 120vh;
}
/* header */
.border{
    width: 100vw;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.4);
}
.header{
    text-transform: uppercase;
    font-family: '﻿Verdana', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    padding-top: 19px;
    padding-left: 81px;
}
.sprites{
    background-image: url("../assets/css_sprites.png");
    display: inline-block;
    width: 151px;
    height: 48px;
    float: right;
    margin-right: 25px;
    margin-top: 4px;
}
.separator{
    background-image: url("../assets/separator.png");
    width: 1px;
    height: 19px;
    float: right;
    margin-top: 19px;
    margin-right: 25px;
}
.header_login{
    display: inline-block;
    float: right;
    margin-right: 75px;
    padding-top: 22px;
    font-family: ﻿'Verdana', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}
.greentext{
    color: #3da76e;
}
/* form */
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}
.signUp_form{
    max-width: 444px;
    /* margin: 65px auto; */
    height: 584px;
    background-color: white;
    border-radius: 12px;
}
.signUp{
    display: inline-block;
    margin-top: 29px;
    padding-left: 42px;
    padding-right: 205px;
    font-family: ﻿'Verdana', sans-serif;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}
.signUp::before{
    content: url("../assets/shape@1X.png");
    position: relative;
    right: 42px;
}
.login{
    font-family: ﻿'AdobeInvisFont', '﻿Courier', '﻿Verdana', sans-serif;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
}
.social_network{
    margin: 15px 60px;
}
.facebook, .google{
    width: 157px;
    height: 46px;
    border: none;
    border-radius: 5px;
    font-family: ﻿'AdobeInvisFont', ﻿'Courier', ﻿'Verdana', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    padding-left: 36px;
    background-repeat:no-repeat;
    background-position-x: 20px;
    background-position-y: 13px;
}
.facebook{
    background-color: #305db8;
    background-image: url("../assets/facebook.png");
}
.google{
    background-color: #df4a32;
    background-image: url("../assets/google.png");
}
.logo{
    display: inline-block;
    padding-top: 5px;
}
.separator1{
    background-image: url("../assets/separator.png");
    width: 1px;
    height: 28px;
    float: left;
    margin-left: 10px;
}
.separator2{
    background-image: url("../assets/separator.png");
    width: 1px;
    height: 28px;
    float: left;
    margin-left: 20px;
}
.subsection{
    margin-top: 30px;
}
.line1, .line2{
    display: inline-block;
    width: 131px;
    height: 1px;
    background-color: #eaeaea;
    vertical-align: middle;
}
.line1{
    margin-left: 60px;
    margin-right: 18px;
}
.line2{
    margin-left: 18px;
}
.or{
    font-family: '﻿AdobeInvisFont', '﻿Courier', '﻿Verdana', sans-serif;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);
}
.form_group{
    margin-top: 18px;
    margin-left: 60px;
}
.info{
    margin-bottom: 9px;
    padding-left: 17px;
    width: 301px;
    height: 40px;
    border-color: #eaeaea;
    border-radius: 5px;
    font-family: ﻿'AdobeInvisFont', '﻿Courier', 'Verdana', sans-serif;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}
.info:focus{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    color: black;
}
.checkbox{
    margin-top: 10px;
    font-family: ﻿'AdobeInvisFont', '﻿Courier', ﻿'Verdana', sans-serif;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
}
.greentext2{
    color: #63c693;
}
.submit{
    margin-top: 30px;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    border: none;
    border-radius: 5px;
    font-family: ﻿'AdobeInvisFont', '﻿Courier', '﻿Verdana', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}