body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
}

.header{
    margin-top: 61px;
    font-family: '﻿AdobeInvisFont', '﻿Courier', '﻿MyriadPro-Regular';
    font-size: 80px;
}

.header a{
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
}

span{
    color: #4bcaff
}

.top-menu{
    display: inline-block;
    width: 100%;
    padding: 21px 0;
    text-align: center;
    text-decoration: none;
    background-color: #35444f;
    font-family: ﻿'AdobeInvisFont', ﻿'Courier', ﻿'MyriadPro-Regular';
    font-size: 24px;
}

.top-menu li {
    display: inline;
    margin-right: 81px;
}

.top-menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}

.nav-menu{
    display: inline-block;
    list-style-type: none;
    width: 342px;
    height: 397px;
    padding: 0;
    border: 1px solid black;
    vertical-align: top;
}

.nav-menu li{
    display: block;
    line-height: 81px;
    padding: 0 0 0 28px;
    font-family: ﻿'AdobeInvisFont', '﻿Courier', ﻿'MyriadPro-Regular';
    font-size: 30px;
 }

.nav-menu a{
    text-decoration: none;
    color: rgba(72, 88, 99, 255);
}

.section{
    display: inline-block;
    width: 887px;
}

.section img{
    border: 1px solid black;
    padding: 74px 267px 72px 296px;
    margin-left: 48px;
}

.caption{
    margin-top: 30px;
    margin-left: 83px;
    font-family: 'AdobeInvisFont', ﻿'Courier', '﻿MyriadPro-Regular';
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
}

.bottom-menu{
    display: inline-block;
    width: 100%;
    padding: 21px 0;
    text-decoration: none;
    background-color: #b4b7ba;
    text-align: left;
    font-family: ﻿'AdobeInvisFont', '﻿Courier', '﻿MyriadPro-Regular';
    font-size: 28px;
}

.bottom-menu li {
    display: inline;
    margin-left: 15px;
}

.bottom-menu a{
    text-decoration: none;
    color: rgba(12, 25, 39, 255);
}

.symbol{
    margin-left: 280px;
    font-family: '﻿AdobeInvisFont', ﻿'Courier', ﻿'MyriadPro-Regular';
    font-size: 24px;
    color: rgba(1, 1, 1, 255);
}