body{
    margin: 0;
    padding: 0;
}
.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url("assets/background@1X.png");
    background-repeat: no-repeat;
    position: absolute;
}
.container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
    z-index: 1;
}
.content{
    position: relative;
    z-index: 2;
}
.main{
    width: 1065px;
    height: 630px;
    margin-top: 49px;
    margin-left: 155px;
}
.header{
    width: 1064px;
    height: 45px;
}
.icon{
    background-image: url("assets/logo@1X.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    display: inline-block;
    padding-right: 15px;
    float: left;
}
.logo{
    font-size: 29px;
    font-weight: bold;
    display: inline-block;
    color: rgba(255, 255, 255, 255);
    font-family: sans-serif;
    width: 105px;
    float: left;
}
.logo1{
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: rgba(255, 255, 255, 255);
    font-family: sans-serif;
    float: left;
}
.icon:hover{
    color: #f26522;
}
.logo:hover{
    color: #f26522;
}
.logo1:hover{
    color: #f26522;
}
.address{
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    float: right;
}
.phone-number{
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    float: right;
    clear: right;
    display: inline-block;
}
.picture_block{
    width: 1064px;
    height: 541px;
    padding-top: 48px;
}
.picture1{
    background-image: url("assets/shopping.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    clear: left;
    float: left;
    margin-right: 69px;
    margin-bottom: 98px;
}
.picture2{
    background-image: url("assets/sightseeing.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 200px;
    float: left;
    margin-right: 68px;
    margin-bottom: 98px;
}
.picture3 {
    background-image: url("assets/food.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    float: left;
    margin-bottom: 98px;
}
.picture4{
    background-image: url("assets/nightlife.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    clear: left;
    float: left;
    margin-right: 69px;
}
.picture5{
    background-image: url("assets/architecture.png");
    background-repeat: no-repeat;
    width: 308px;
    height: 200px;
    float: left;
    margin-right: 68px;
}
.picture6{
    background-image: url("assets/walking.png");
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    float: left;
}
.picture-text{
    font-family: sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 218px;
}
.picture-text:hover{
    color: #f26522;
}
.footer{
    clear: both;
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 61px;
}