body{
    margin: 0;
    padding: 0;
}
.bg{
    width: 1192px;
    height: 736px;
    background-color: #3a4965;
    position: absolute;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin-top: 24px;
    margin-left: 22px;
}
td, tr{
    border: 1px solid #cacaca;
    padding: 5px;
}
.plan{
    padding: 54px 49px;
    background-color: white;
    text-transform: uppercase;
    font-family: ﻿'AdobeInvisFont', '﻿Arimo-Bold', '﻿Courier', sans-serif;
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
}
.plan2{
    font-size: 30px;
}
.standart, .ultimate, .premium{
    font-family: ﻿'AdobeInvisFont', '﻿Arimo-Bold', '﻿Courier', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    vertical-align: middle;
}
.standart{
    background-color: #89c331;
    font-size: 24px;
    padding: 0 72px;
}
.ultimate {
    background-color: #f04a56;
    font-size: 30px;
    padding: 0 67px;
}
.premium{
    background-color: #20807c;
    font-size: 24px;
    padding: 0 83px;
}
.dollar{
    background-color: white;
    font-family: '﻿AdobeInvisFont', '﻿Arimo-Bold', '﻿Courier', sans-serif;
    color: rgba(72, 72, 72, 255);
    padding: 18px 33px;
}
.dollars{
    font-size: 60px;
    float: left;
}
.cents{
    float: left;
    font-size: 24px;
}
.per{
    float: left;
    font-size: 18px;
}
.storage, .email, .product{
    background-color: #f2f2f2;
    font-family: '﻿AdobeInvisFont', '﻿Arimo', '﻿Courier', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    padding: 25px 70px;
}
.bandwidth, .support, .user{
    background-color: #e3e3e3;
    text-transform: uppercase;
    font-family: ﻿'AdobeInvisFont', '﻿Arimo', '﻿Courier', sans-serif;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    padding: 26px 0;
}
.contact{
    padding: 27px 0;
    background-color: #dddddd
}
.buy_now1, .buy_now3{
    padding: 27px 0;
    background-color: #eeeeee;
}
.buy_now2{
    padding: 27px 0;
    background-color: #f4f4f4;
}
.contact_button, .buy_button1, .buy_button2, .buy_button3{
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    font-family: '﻿AdobeInvisFont', ﻿'Arimo-Bold', ﻿'Courier';
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}
.contact_button{
    background-color: #484848;
}
.buy_button1{
    background-color: #89c331;
}
.buy_button2{
    background-color: #f04a56;
}
.buy_button3{
    background-color: #20807c;
}
.contact_button:hover{
    border-bottom: 9px solid #404040;
}
.buy_button1:hover{
    border-bottom: 9px solid #79b027;
}
.buy_button2:hover{
    border-bottom: 9px solid #df3a46;
}
.buy_button3:hover{
    border-bottom: 9px solid #16736f;
}
